html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: #000;
}

.header {
  margin-top: 0px;
  color: #FFF;
}

.sub-header {
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  color: #FF0000;
}
