html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  overflow: hidden;
  /* background-color: #fff; */
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: inherit;
  border-bottom: 0.1rem solid #162BF4;
}

:root {
  --mdc-theme-primary: #162BF4;
  --mdc-theme-secondary: #162BF4;
}

.control-panel {
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  border-right: 0.1rem solid rgba(0,0,0,0.10);
  height: 60rem;
  overflow: scroll;
}

.shape-select {
  background-color: #fff !important;
}

.shape-select div{
  border-color: #162BF4 !important;
}

.label {
  margin-bottom: 0rem;
}

.fill-checkbox-field, .stroke-checkbox-field, .atan-checkbox-field, .shape-select {
  width: 100%;
}

.fill-checkbox, .stroke-checkbox, .atan-checkbox {
  margin-right: -11px;
}
