body {
  background-color: #000;
}

.header {
  margin-top: 0px;
  color: #FFF;
}

.sub-header {
  margin-bottom: 0px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 100;
  color: #FF0000;
}
